.card {
    height: 150px;
    width: 150px;
    margin-left:30px;
    background-size: 150px 150px;
      box-shadow: 6px 6px 0px  rgba(0,0,0,0.2);
      transition: 0.2s;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.607);
    border-radius: 4px;
    /*backdrop-filter: blur(10px);*/
    background-position: right 0px top 0px;
  
    background-repeat: no-repeat;
    animation: gamecardanim 2s;
    transition: width 0.3s, height .3s, transform;
    z-index: 1;
  }
  
  .card:hover {
    box-shadow: 14px 14px 0px  rgba(0,0,0,0.2);
    transition: 0.2s;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.607);
    background-position: left 10px top 10px;
  background-size: 32%;
  animation: gamecardanim 2s;
  width: 320px;
  z-index: 999999;
  transition: width 0.5s, height .3s, transform;
  
  }